initfiles/componentfiles/configschema/xsd/esp_service_wsecl2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
#    HPCC SYSTEMS software Copyright (C) 2018 HPCC Systems®.
#
#    Licensed under the Apache License, Version 2.0 (the "License");
#    you may not use this file except in compliance with the License.
#    You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#    Unless required by applicable law or agreed to in writing, software
#    distributed under the License is distributed on an "AS IS" BASIS,
#    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#    See the License for the specific language governing permissions and
#    limitations under the License.
-->

<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified"
        xmlns:hpcc="someuri">
    <xs:include schemaLocation="types.xsd"/>
    <hpcc:insert hpcc:schemaPath="/Environment/Software">
        <xs:element name="EspService" maxOccurs="unbounded" hpcc:class="component" hpcc:category="ESP Service"
                    hpcc:itemType="ws_ecl" hpcc:displayName="WS ECL" hpcc:docid="MyWS2-T03">
            <xs:complexType>
                <xs:sequence>

                    <xs:element name="ProcessCluster" minOccurs="0" maxOccurs="unbounded" hpcc:displayName="VIPS"
                                hpcc:class="elementSet" hpcc:docid="MyWS2-T01">
                        <xs:complexType>
                            <!-- Why is there a unique name that is hidden ? -->
                            <xs:attribute name="name" type="xs:string" use="required" hpcc:hidden="true"
                                          hpcc:autoGenerateType="prefix" hpcc:autoGenerateValue="proc"/>
                            <xs:attribute name="roxie" type="xs:string" use="required" hpcc:displayName="Roxie"
                                          hpcc:uniqueKey="roxiecluster_name" hpcc:tooltip=""/>
                            <xs:attribute name="vip" type="xs:string" use="required" hpcc:displayName="VIP"
                                          hpcc:tooltip=""/>
                            <xs:attribute name="dnsInterval" type="xs:integer"
                                          hpcc:displayName="DNS Cache timeout interval"
                                          hpcc:tooltip="DNS lookup cache timeout in seconds. Set to 0 to resolve DNS for every transaction.  Set to -1 (default) to keep DNS lookup cached indefinitely."/>
                            <xs:attribute name="sendTargetToRoxie" type="xs:boolean"
                                          hpcc:displayName="Send Target To Roxie" hpcc:presetValue="true"
                                          hpcc:tooltip="Send roxie the target from which to run query (disable for backward compatibility issues)"/>
                        </xs:complexType>
                    </xs:element>

                    <xs:element name="Target" minOccurs="0" maxOccurs="unbounded" hpcc:class="elementSet"
                                hpcc:displayName="Restrict To Target(s)" hpcc:docid="MyWS2-T02">
                        <xs:complexType>
                            <xs:attribute name="name" type="xs:string" use="required"
                                          hpcc:sourceKey="topology_cluster_name"
                                          hpcc:tooltip="WsEcl will only display specified targets, if none specified WsEcl will display all targets."/>
                        </xs:complexType>
                    </xs:element>

                    <xs:element name="Properties" type="espservice_properties" minOccurs="0" maxOccurs="1"
                                hpcc:hidden="true"/>

                    <xs:annotation>
                        <xs:appinfo hpcc:infoType="event">
                            <eventType>create</eventType>
                            <eventAction>insertXML</eventAction>
                            <eventData>
                                <itemType>ws_ecl</itemType>
                                <xml>
                                    <Properties bindingType="ws_eclSoapBinding"
                                                defaultPort="8002"
                                                defaultResourcesBasedn="ou=SMC,ou=EspServices,ou=ecl"
                                                defaultSecurePort="18002"
                                                plugin="ws_ecl"
                                                type="ws_ecl"/>
                                </xml>
                            </eventData>
                        </xs:appinfo>

                        <xs:appinfo hpcc:infoType="event">
                            <eventType>create</eventType>
                            <eventAction>insertXML</eventAction>
                            <eventData>
                                <itemType>espbinding</itemType>
                                <match>
                                    <!-- match the event node's (the created espbinding) "service" attribute value
                                         against all /Environment/Software/EspService nodes with a matching "name"
                                         attribute value (other rules limit this to at most one match) -->
                                    <eventNodeAttribute>service</eventNodeAttribute>
                                    <targetPath>/Environment/Software/EspService</targetPath>
                                    <targetAttribute>name</targetAttribute>
                                </match>
                                <xml>
                                    <Authenticate access="Read" description="Root access to SMC service" path="/"
                                                  required="Read" resource="SmcAccess"/>
                                    <AuthenticateFeature description="Access to SMC service" path="SmcAccess"
                                                         resource="SmcAccess" service="ws_smc"/>
                                    <AuthenticateFeature description="Access to thor queues" path="ThorQueueAccess"
                                                         resource="ThorQueueAccess" service="ws_smc"/>
                                    <AuthenticateFeature description="Access to roxie control commands"
                                                         path="RoxieControlAccess" resource="RoxieControlAccess"
                                                         service="ws_smc"/>
                                    <AuthenticateFeature description="Access to DFU" path="DfuAccess"
                                                         resource="DfuAccess" service="ws_dfu"/>
                                    <AuthenticateFeature description="Access to DFU XRef" path="DfuXrefAccess"
                                                         resource="DfuXrefAccess" service="ws_dfuxref"/>
                                    <AuthenticateFeature description="Access to machine information"
                                                         path="MachineInfoAccess" resource="MachineInfoAccess"
                                                         service="ws_machine"/>
                                    <AuthenticateFeature description="Access to SNMP metrics information"
                                                         path="MetricsAccess" resource="MetricsAccess"
                                                         service="ws_machine"/>
                                    <AuthenticateFeature description="Access to DFU workunits" path="DfuWorkunitsAccess"
                                                         resource="DfuWorkunitsAccess" service="ws_fs"/>
                                    <AuthenticateFeature description="Access to DFU exceptions"
                                                         path="DfuExceptionsAccess" resource="DfuExceptions"
                                                         service="ws_fs"/>
                                    <AuthenticateFeature description="Access to spraying files" path="FileSprayAccess"
                                                         resource="FileSprayAccess" service="ws_fs"/>
                                    <AuthenticateFeature description="Access to despraying of files"
                                                         path="FileDesprayAccess" resource="FileDesprayAccess"
                                                         service="ws_fs"/>
                                    <AuthenticateFeature description="Access to upload files to dropzone"
                                                         path="FileUploadAccess" resource="FileUploadAccess"
                                                         service="ws_fs"/>
                                    <AuthenticateFeature description="Access to files in dropzone" path="FileIOAccess"
                                                         resource="FileIOAccess" service="ws_fileio"/>
                                    <AuthenticateFeature description="Access to permissions for file scopes"
                                                         path="FileScopeAccess" resource="FileScopeAccess"
                                                         service="ws_access"/>
                                    <AuthenticateFeature description="Access to WS ECL service" path="WsEclAccess"
                                                         resource="WsEclAccess" service="ws_ecl"/>
                                    <AuthenticateFeature description="Access to cluster topology"
                                                         path="ClusterTopologyAccess" resource="ClusterTopologyAccess"
                                                         service="ws_topology"/>
                                    <AuthenticateFeature description="Access to own workunits" path="OwnWorkunitsAccess"
                                                         resource="OwnWorkunitsAccess" service="ws_workunits"/>
                                    <AuthenticateFeature description="Access to others&apos; workunits"
                                                         path="OthersWorkunitsAccess" resource="OthersWorkunitsAccess"
                                                         service="ws_workunits"/>
                                    <AuthenticateFeature description="Access to ECL direct service"
                                                         path="EclDirectAccess" resource="EclDirectAccess"
                                                         service="ecldirect"/>
                                    <AuthenticateFeature description="Access to ESDL configuration service"
                                                         path="ESDLConfigAccess" resource="ESDLConfigAccess"
                                                         service="ws_esdlconfig"/>
                                    <AuthenticateFeature description="Access to ELK integration service"
                                                         path="WsELKAccess" resource="WsELKAccess" service="ws_elk"/>
                                    <ProcessFilters>
                                        <Platform name="Windows">
                                            <ProcessFilter name="any">
                                                <Process name="dafilesrv"/>
                                            </ProcessFilter>
                                            <ProcessFilter multipleInstances="true" name="DfuServerProcess"/>
                                            <ProcessFilter multipleInstances="true" name="EclCCServerProcess"/>
                                            <ProcessFilter multipleInstances="true" name="EspProcess">
                                                <Process name="dafilesrv" remove="true"/>
                                            </ProcessFilter>
                                        </Platform>
                                        <Platform name="Linux">
                                            <ProcessFilter name="any">
                                                <Process name="dafilesrv"/>
                                            </ProcessFilter>
                                            <ProcessFilter multipleInstances="true" name="DfuServerProcess"/>
                                            <ProcessFilter multipleInstances="true" name="EclCCServerProcess"/>
                                            <ProcessFilter multipleInstances="true" name="EspProcess">
                                                <Process name="dafilesrv" remove="true"/>
                                            </ProcessFilter>
                                            <ProcessFilter name="GenesisServerProcess">
                                                <Process name="httpd"/>
                                                <Process name="atftpd"/>
                                                <Process name="dhcpd"/>
                                            </ProcessFilter>
                                        </Platform>
                                    </ProcessFilters>
                                </xml>
                            </eventData>
                        </xs:appinfo>
                        <xs:appinfo hpcc:infoType="event">
                            <eventType>create</eventType>
                            <eventAction>addAttributeDependencies</eventAction>
                            <eventData>
                                <itemType>espbinding</itemType>
                                <!-- These are the attribute value dependencies to add -->
                                <attribute attributeName="protocol" attributeValue="http" dependentAttribute="port"
                                           dependentValue="8010"/>
                                <attribute attributeName="protocol" attributeValue="https" dependentAttribute="port"
                                           dependentValue="18010"/>
                                <match>
                                    <!-- same match criteria as the insertXML event above -->
                                    <eventNodeAttribute>service</eventNodeAttribute>
                                    <targetPath>/Environment/Software/EspService</targetPath>
                                    <targetAttribute>name</targetAttribute>
                                </match>
                            </eventData>
                        </xs:appinfo>

                        <xs:appinfo hpcc:infoType="event">
                            <eventType>create</eventType>
                            <eventAction>setAttributeValue</eventAction>
                            <eventData>
                                <itemType>espbinding</itemType>
                                <attribute attributeName="resourcesBasedn"
                                           attributeValue="ou=SMC,ou=EspServices,ou=ecl"/>
                                <match>
                                    <!-- same match criteria as the insertXML event above -->
                                    <eventNodeAttribute>service</eventNodeAttribute>
                                    <targetPath>/Environment/Software/EspService</targetPath>
                                    <targetAttribute>name</targetAttribute>
                                </match>
                            </eventData>
                        </xs:appinfo>
                    </xs:annotation>


                </xs:sequence>

                <xs:attributeGroup ref="buildInfo"/>
                <xs:attribute name="name" type="xs:string" use="required" hpcc:autogenerateType="prefix_"
                              hpcc:autoGenerateValue="wsecl" hpcc:displayName="Service Name"
                              hpcc:uniqueKey="espservice_key" hpcc:tooltip="Name for this ESP service"/>
                <xs:attribute name="description" type="xs:string" hpcc:presetValue="WS ECL Service"
                              hpcc:displayName="Description"
                              hpcc:tooltip="Allows creation of web services using ECL language"/>
                <xs:attribute name="roxieTimeout" type="xs:unsignedInt" hpcc:presetValue="300"
                              hpcc:displayName="Roxie Timeout"
                              hpcc:tooltip="Timeout (in seconds) for WsEcl connections to roxie (0 == wait forever)"/>
                <xs:attribute name="workunitTimeout" type="xs:unsignedInt" hpcc:presetValue="600"
                              hpcc:displayName="Workunit Timeout"
                              hpcc:tooltip="Timeout (in seconds), for WsEcl to wait for workunit to complete (0 == wait forever)"/>

            </xs:complexType>

        </xs:element>
    </hpcc:insert>
</xs:schema>
